.footer {
  margin: 0;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--light-gray);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footertop_left p {
  font-size: 16px;
  max-width: 450px;
  padding-top: 10%;
}

.footertop_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_social_link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 50px;
  background: #32323B;
  color: white;
  text-decoration: none;
  font-family: Outfit;
  font-size: 16px;
  transition: 0.3s;
}

.footer_social_link img {
  width: 20px;
  height: 20px;
}

.footer_social_link:hover {
  transform: translateY(-2px);
  color: white;
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 6%;
  }

  .footer_top {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .footertop_right {
    gap: 12px;
  }

  .footer_social_link {
    padding: 10px 16px;
    font-size: 14px;
  }
}

.nav_logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 2%;
}

.animated_card {
  display: grid;
  place-items: center;
  position: relative;
  height: 42.288px;
  width: 90px;
  background-color: #161513;
  border-radius: 10px;
  cursor: pointer;

}

.animated_card::before {
  position: absolute;
  content: '';
  height: 42.288px;
  width: 90px;
  background: linear-gradient(267deg, #38126D 0.36%, #B923E1 102.06%);
  border-radius: 15px;
  z-index: -1;
  transition: 0.3s;
  animation: nav_logo 2s linear infinite;
}

.animated_card::before {
  height: 52.288px;
  width: 100px;
}

@keyframes nav_logo {
  50% {
    filter: hue-rotate(350deg);
  }
}